body {
    background-color: #000000;
    color:#ffffff;
}

.PageWrapper {
    width: 100%;
    margin: 0px auto;
}

.Heading {
    text-align: center;
}
.App{
text-align:center;
}
.TabContainer {
    text-align: center;
    margin-top: 20px;
}

.Tab {
    margin: 0px 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color:#3399FF;
    display:inline-block;
}

    .Tab:hover {
        color: rgb(167,186,215);
    }

.ActiveButton {
    color: #ffffff;
}
